.svg-chart-container{
 display: inline-block;
 position: relative;
 width: 50%;
 padding-bottom: 60%; /* depends on svg ratio, for my zebra height/width = 1.2 so padding-bottom = 50% * 1.2 = 60% */

 vertical-align: middle; /* top | middle | bottom ... do what you want */
}


.svg-chart{ /* svg into : object, img or inline */
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* only required for <img /> */
}